<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meal Planner</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {{!--
  <link rel="stylesheet" href="/css/jass.css"> --}}
  {{!--
  <link rel="stylesheet" href="/css/style.css"> --}}
</head>

<body>
  <div>
    <header class="p-2">
      <nav class=" ">
        <h1 class="col text-primary border-bottom w-25 pb-3">
          Meal Planner
        </h1>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <div class="col ">
          <div class="row-auto">
            <h2>Welcome, {{username}}!</h2>
          </div>
        <a href="/profile" class="mr-2">profile</a> |
        <a href="#" class="ml-1" id="logout">logout</a>
        </div>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>