

<div class="row mt-4"></div>
  <div class="col-md-3">
    <h3 class="mb-5">Create a New Meal:</h3>
    <form class="form new-meal-form">
      <div class="form-group border-bottom">
        <label for="meal-name"></label>
        <i class="fas fa-utensils"></i>
        <input class="form-input border-0 ml-2" style="outline: none;" placeholder="Meal Name" type="text" id="meal-name" name="meal-name" />
      </div>
      <div class="form-group border-bottom">
        <label for="meal-day"></label>
        <i class="fas fa-calendar-day"></i>
        <input class="form-input border-0 ml-2" style="outline: none;" placeholder="Day of the Week" type="text" id="meal-day" name="meal-day" />
      </div>
      <div class="form-group border-bottom">
        <label for="type-of-meal"></label>
        <i class="fas fa-clock"></i>
        <input class="form-input border-0 ml-2" style="outline: none;" placeholder="Meal Type" type="text" id="meal-type" name="meal-type" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  <div class="col-md-6 meal-list">
    <h3>Current Meals:</h3>

  </div>
  
</div> 

<body onload="getMeals()"></body>
<script src="./js/profile.js"></script>
<script src="https://kit.fontawesome.com/6943897cd3.js" crossorigin="anonymous"></script>